<web-app>
    <servlet>
        <servlet-name>EventServlet</servlet-name>
        <servlet-class>com.example.EventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventServlet</servlet-name>
        <url-pattern>/event</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
</web-app>
